@import './header';
@import './footer';
@import './general';
@import './btn';
@import './style_guide';

.fst {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1.5rem;

    min-height: calc(100vh - 100px);

    #title {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &::after {
            content: "";
            display: block;
            height: 1rem;
            width: 4rem;
        }

        h1 {
            text-align: center;
            font-weight: 500;
            font-size: 2rem;
            justify-self: center;
        }

        a {
            color: $clr_black;
            text-decoration: none;
            font-weight: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
        }
    }

    #cart_empty {

        margin: 3rem auto;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;


        img {
            display: block;
            height: 300px;
            margin: 0 auto;
            width: unset;
        }

        h2 {
            margin: 1rem 0;
            text-align: center;
        }
    }
}

#cart_container{
    width: 100%;

    .cart_item_card {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        border-bottom: 2px $clr_grey solid;
        padding: 1rem 0;
    
        .item {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
    
            .img {
                width: 64px;
                height: 64px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
    
            .item_description {
                max-width: calc(100% - 80px);
    
                h3 {
                    font-size: 1.25rem;
                }
            }
        }
    
        .price {
            text-align: right;
            font-weight: 500;
            font-size: 1.15rem;
        }
    
        .item_mod {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            a {
                font-size: 1.15rem;
                font-weight: bold;
                text-decoration: none;
            }
    
            .quantity {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                gap: .5rem;
                justify-content: flex-end;
                align-items: center;
                width: 10rem;
    
                .subtract {
                    width: calc(16px + 1rem);
                    height: calc(5px + 1rem);
                    padding: .5rem;
    
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 5px;
                        background-color: $clr_grey;
                        transition: .3s;
                    }
    
                    &:hover {
                        &::after {
                            background-color: $clr_black;
                        }
    
                    }
                }
    
                .add {
                    width: calc(16px + 1rem);
                    height: calc(16px + 1rem);
                    padding: .5rem;
                    position: relative;
    
                    cursor: pointer;
    
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 16px;
                        height: 5px;
                        background-color: $clr_grey;
                        transition: .3s;
                    }
    
                    &::after {
                        content: "";
                        display: block;
                        margin: 0 auto;
                        width: 5px;
                        height: 16px;
                        background-color: $clr_grey;
                        transition: .3s;
                    }
    
                    &:hover {
    
                        &::before,
                        &::after {
                            background-color: $clr_black;
                        }
    
                    }
                }
            }
        }
    }
    
    
    #confirm_order {
        width: 100%;
    
        p {
            font-size: 1.5rem;
            margin-top: 1rem;
            text-align: right;
        }
    
        .btn {
            border: none;
            margin: 1rem 0;
            cursor: pointer;
        }
    }
}

// Dev only
#dev_switch {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px black solid;
    background-color: violet;
    z-index: 10000;
}

.hidden {
    display: none !important;
}

@media screen and (min-width: $tablet_bp){
    .fst{ 
        max-width: 950px;
        margin: 0 auto;

        #title{
            display: block;
        }
    }

    #cart_empty{
        a{
            margin: 0 auto;
            width: 60%;
        }
    }
    
    #cart_container{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1.5fr 1fr;

        .cart_item_card{
            width: 100%;
        }
    
        #confirm_order{
            align-self: end;

            a{
                margin-bottom: 0 !important;
                margin-top: 0.5rem !important;
            }
        }
    }
}

@media screen and (min-width: $desktop_bp){
    .fst{
        max-width: 1200px;
        margin: 0 auto;
    }

    #cart_empty{
        a{
            width: 50%;
        }
    }
}