@import "./style_guide";
@import "./input";

.form_btn{
    border: none;
    margin-top: 1rem;
}

@media screen and (min-width: $tablet_bp){
    .main_container{
        margin: 0 auto;
        width: 50%;
    }
}