@import './header';
@import './footer';
@import './general';
@import './btn';
@import './style_guide';

#cart_empty {

    margin: 3rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    grid-column-start: 2;
    grid-column-end: 2;


    img {
        display: block;
        height: 300px;
        margin: 0 auto;
        width: unset;
    }

    h2 {
        margin: 1rem 0;
        text-align: center;
    }
}


#recent_orders_container{
    display: flex;
    padding: 1rem;
    justify-content: space-between;

    &::after{
        content: "";
        display: block;
        height: 1rem;
        width: 4rem;
    }

    h1{
        text-align: center;
        font-weight: 500;
        font-size: 2rem;
        justify-self: center;
    }

    a{
        color: $clr_black;
        text-decoration: none;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
}

.order{
    border-bottom: 1px solid $clr_black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    .item_name{
        font-size: 1.1rem;
        font-weight: 600;
    }

    div{
        margin: 0 auto;
        width: 80%;
    }

    .btn{
        border: none;
        font-size: 1rem;
        margin-top: 0.25rem;
        width: 40%;
    }
}

#login_container{
    margin: 0 auto;
    width: 80%;

    #login_instruction{
        font-size: 1.5rem;
    }

    #login_btn{
        font-size: 1.25rem;
    }
}

#recent_orders{
    border-top: 1px solid $clr_black;
    padding-top: 1rem;
}

@media screen and (min-width: $tablet_bp){
    #recent_orders_container{
        justify-content: center;
        &::after{
            display: none;
        }
        h1{
            font-size: 2.25rem;
            font-weight: 500;
        }
    }

    #recent_orders{
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        padding: 0;
        width: 80%;

        .order{
            border: none;

            .btn{
                width: 50%;
            }
        }
    }

    #login_container{
        margin: 0 auto;
        width: 60%;
    
        #login_btn{
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: $desktop_bp){
    #recent_orders{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #login_container{
        margin: 0 auto;
        width: 50%;
    
        #login_btn{
            font-size: 1.65rem;
        }
    }
}
