@import "./style_guide";

#customize_container{
    a{
        color: $clr_black;
        font-weight: 400;
        margin: 0 1.5rem;
        text-decoration: none;
    }
}

#item_info{
    h1{
        font-size: 1.5rem;
    }
}

.customize_section{
    margin-top: 1rem;

    p{
        display: inline-block;
    }

    .section_title{
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.25rem;
    }

    .selection{
        display: grid;
        column-gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
    }

    input[type="radio"], input[type="checkbox"]{
        display: none;
    }

    input[type="radio"]:not(:checked)+label, input[type="checkbox"]:not(:checked)+label{
        background-color: $clr_white;
        border: 2px solid $clr_btn_border;
        border-radius: 22px;
        display: block;
        filter: drop-shadow(0 3px 1.5px $clr_btn_border);
        padding: 0.75rem 2rem;
        text-align: center;
    }

    input[type="radio"]:checked+label, input[type="checkbox"]:checked+label{
        background-color: $clr_secondary;
        border: 2px solid $clr_btn_selected_border;
        border-radius: 22px;
        display: block;
        padding: 0.75rem 2rem;
        text-align: center;
    }

    input[type="radio"]+label:hover, input[type="checkbox"]+label:hover{
        cursor: pointer;
    }

    .price_tag{
        background-color: $clr_btn_priceTag;
        border-radius: 16px;
        color:  $clr_white;
        filter: drop-shadow(0 3px 1.5px $clr_btn_border);
        padding: 0.1rem 0.5rem;
        position: absolute;
        right: 0;
        top: -12px;
        z-index: 10;
    }

    .with_price_tag{
        margin-top: 1.25rem;
        position: relative;
    }

    .without_price_tag{
        margin-top: 0.75rem;
    }
}

#add_note_section{
    margin-bottom: 1rem;

    .input_field{
        border: 2.5px solid $clr_black;
        border-radius: 5px;
        font-size: 1.25rem;
        height: 2.5rem;
        padding: 0 0.5rem;
        width: 100%;
    }

    label{
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.25rem;
        margin-top: 1rem;
    }
}

#add_to_cart_btn{
    border: none;
}